body {
        background-color: black;
    }
    li {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li.selected {
    background: grey;
    }
    a:link {
        text-decoration: none;
        color: white;
    }
    a:visited {
        color: white;
    }
    a:hover {
        color: white
    }